body {
  font-family: Arial, sans-serif;
  background-color: aliceblue;
  color: black;
}

/* heading * sub-heading styles */
h1 {
  color: black;
  font-size: 40px;
  text-shadow: #ebebeb 1px 1px;
}

h2 {
  font-size: 30px;
  text-shadow: black 1px 1px;
  background-color:aliceblue;
  color: #7499f6;
  padding: 20px;
  margin: 0px;
}

h3 {
  color: black;
  text-shadow: #ebebeb 1px 1px;
  margin-top: 5px;
  margin-bottom: 0px;
}

li {
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 0px;
  text-align: left;
  color: black;
}

/*basic div margin */
div {
  margin-bottom: 20px;
}

/* basic image style */
img {
  width: 125px;
}
